.header{
	position: fixed;
	background-color: black	;
	width: 100%;
	color: white;
}
.fa{
	color: white;
}

.header #left-side-header{
	float:left;
	padding-left: 20px;
	color:white;
}

.header #right-side-header{
	float: right;
	padding-right: 20px;
}

.navbar-inverse {
    top: 20px !important;
position: fixed;
width: 100%;
}

.navbar {
    position: fixed !important;
    }


.row-1{
	background-color:#6362bb;
	color:white;
	padding-top:100px;
	text-align: center;
	height: 850px;
}
.row-1-button{
	margin: 10px 0px;
	padding:10px 20px;
	font-size: 18px;
	color: white;
	border-radius: 10px;
	background-color: #1eb995;
}
.row-1-overview{
	padding-top: 20px;
	font-size: 18px;
}

.row-1-image{
	height: auto;
	width: 100%;
	padding-top:50px;
	top:80px;
	
}


.row-2{
	top:200px;
	position: relative;
}

#main_content{

	text-align: center !important	;
}

@media(min-width:992px)
{
.row-2{
	top:220px;
	position: relative;
}

}

@media(max-width: 768px)
{
	.row-1{
		height:700px;
	}
	.row-2{
	top:150px;
	position: relative;
}

#main_content{
	padding:0px 40px;
	text-align: center !important	;
}

}

@media(max-width: 576px)
{
	.row-1{
		height:600px;
	}
.row-2{
	top:100px;
	position: relative;
}

#main_content{
	padding:0px 20px;
	text-align: center !important	;
}


}
