
body{
	background-color: #6362b8;
	line-height: 2.5em;
}

#login-section{

	padding-left: 40%;
	padding-right: 35%;
	padding-bottom: 5%
}

input{
	border-bottom: 3px solid #d8d8d8 !important;
	padding-top: 10px;
	border:none;
	margin-left: 12px;
	margin-bottom: 3px;
	padding-left: 20px;
    padding-bottom: 10px;
    width: 80%;
    
}


#form-control{
	border: 5px solid white;
	background-color: white;
	border-radius: 3px;
}

form{

	padding-top: 45px;
	padding-bottom:45px;
	
}

#submit-button{
color: white;
background-color: #28D3AB;
    text-transform: uppercase;
    font-size: 16px;
    padding-left: 30%;
    margin: 10px;
    padding-right: 30%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 30px;

}
#content{
	font-size: 18px;
	color: white;
	text-align: center !important;
}

#content2{
	text-align: center;
	color: white;
	margin-top: 20px;
}
a{
	color: white;
	text-decoration: none;
	text-transform: capitalize;
}
#checkbox_id{
	width:10% !important;
	height: 15px;
	margin-left: 6px;
}

.home-page-icon{
	font-size:45px;
	padding: 50px;
}

#login-section {
    padding-left: 40%;
     padding-top: 0% !important;
    padding-right: 35%;
    padding-bottom: 5% !important;
}


#email-error{
		font-size: xx-small;
	color:red;
	padding-left: 24px;
}
	
#password-error{
		font-size: xx-small;
	color:red;
	padding-left: 24px;
	text-align: center;
}

label .error{
	text-align: left !important;
}

@media(max-width: 1200px)
{

#email-error{
		font-size: x-small !important;
	color:red;
	padding-left: 24px;
}
	
#password-error{
		font-size: x-small !important;
	color:red;
	padding-left: 24px;
	text-align: center;
}

	#login-section {
    padding-left: 40%;
    padding-top: 0px;
    padding-right: 35%;
    padding-bottom: 5%;
}
	.container{
		flex-wrap: wrap;
padding:0px;
	flex: 0 0 33.33333%;
		max-width: 33.33333%;
		max-width: 1140px;
	}
}


@media(max-width: 992px)
{
	#login-section {
    padding-left: 32%;
    padding-top: 0px;
    padding-right: 35%;
    padding-bottom: 5%;
}
	.container{
		padding: 0px;
		max-width: 960px;
		flex-wrap: wrap;
	flex: 0 0 33.33333%;
		
	}
	#checkbox_id{
	width:10% !important;
	height: 15px;
	margin-left: 3%;
}


#email-error{
	color:red;
	padding-left: 14px;
		font-size: x-small !important;
}
	
#password-error{
		font-size: x-small !important;
	color:red;
	padding-left: 11px;
	text-align: center;
}

}

@media(max-width: 768px)
{
	#login-section {
    padding:10%;
    }
	.container{
		max-width: 720px;
		flex-wrap: wrap;
		flex: 0 0 33.33333%;
		
	}
	#checkbox_id{
	width:10% !important;
	height: 15px;
	margin-left: -5px;
}


#email-error{
		font-size: xx-small;
	color:red;
	padding-left: 10%;
}
	
#password-error{
		font-size: xx-small;
	color:red;
	padding-left: 61px;
	text-align: left;
}

}


@media(max-width: 576px)
{
	#login-section {
    padding:10%;
    }
	.container{
		max-width: 540px;
		flex-wrap: wrap;
		flex: 0 0 33.33333%;
		
	}
	#checkbox_id{
	width:10% !important;
	height: 15px;
	margin-left: 4px;

}

#email-error{
	color:red;
	padding-left: 36px;
	font-size: x-small;
}
	
#password-error{
	color:red;
	padding-left: 36px;
	text-align: center;
	font-size: xx-small;
}

}

#form_email-error{
	color:red !important;
	padding-left: 5%;
}

#form_password-error{
	color:red !important;
	padding-left: 5%;

}


